body {
}
a:link{
    color: darkslategray;
    text-decoration: none;
}
a:visited{
    color: darkslategray;
    text-decoration: none;
}
a:hover{
    color:darkblue;
    text-decoration: none;
}
header {
    position: sticky;
    margin: auto;
    width: 95%;
    margin-top: 2%;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  li {
    margin: auto;
    border: transparent;
    border-style: hidden;
    border-radius: 5px;
    background-color: black;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
p {
    width: 80%;

}