body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
  background-color: white;
}
a:link {
  color: darkslategray;
  text-decoration: none;
}
a:visited {
  color: darkslategray;
  text-decoration: none;
}
a:hover {
  color: rgb(0, 29, 29);
  text-decoration: none;
}
header {
  position: sticky;
  top: 10px;
  margin: auto;
  width: 95%;
  border: solid;
  border-width: 1px;
  border-radius: 30px;
  margin-top: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgb(240, 240, 240);
  font-size: large;
  font-weight: 500;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  li.select {
    margin: auto;
    border: transparent;
    border-style: hidden;
    border-radius: 5px;
    background-color: gainsboro;
    padding-top: 5px;
    padding-bottom: 5px;
  }
li.current {
        margin: auto;
    border: transparent;
    border-style: hidden;
    border-radius: 5px;
    background-color: rgb(180, 180, 180);
    padding-top: 5px;
    padding-bottom: 5px;
    }
  }
  li.title {
    margin: auto;
    margin-right: 10%;
    margin-left: 2.5%;
    font-size: x-large;
    font-weight: bold;
    max-width: 20%;
  }
p {
  width: 90%;
  margin: auto;
  margin-top: 2%;
  text-align: justify;
}
h1 {
  width: 50%;
  text-align: end;
  margin-top: 4%;
}
footer {
    margin: auto;
    margin-top: 40px;
    font-size:small;
}